@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* 변수 자체에 rgb()를 포함하여 정의합니다. */
  --penguin-yellow: rgb(255, 213, 0);
  --penguin-black: rgb(26, 26, 26);
  --penguin-gray: rgb(243, 244, 246);
  --sans: 'Pretendard', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

body {
  margin: 0;
  font-family: var(--sans);
  background-color: var(--penguin-gray);
  color: var(--penguin-black);
}

/* 스크롤바 숨기기 */
.scrollbar-hide::-webkit-scrollbar { display: none; }
.scrollbar-hide { -ms-overflow-style: none; scrollbar-width: none; }
